.container {
    height: 600px;
    width: 400px;
    background-color: #aaa5a5;
    margin: auto;
}
#result {
    height: 100px;
    width: 100%;
    background-color: #aaa5a5;
}
.buttons {
    height: 400px;
    width: 400px;
    margin: auto;
    
}
.button-row-1 {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    height: 70px;
    width: 70px;
    font-size: 15pt;
    margin: 3px;
}